h1,h2{
    color: #FF817D;
    background-color: #7DFBFF;
    font-family: cursive;
}
div
{
    display: flex;
    justify-content: space-evenly;

}
button{

    font-family: cursive;
    font-size: large;
    background-color: azure;
}
body
{
    background-color: #7DFBFF;
}
table, th, td {
    border: 1px solid black;
    margin-left: 20%;
    margin-top: 100px;
    color: #FF817D;
    font-size: 40px;
}
#main{
    display: inline;
    height: 20%;
    width:20%;
    padding-bottom:20%;
    background-color:red"
}
#form
{
    display: flex;
    justify-content: space-around;
}
